@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="carouselExampleControls" class="carousel slide row col-6 offset-3" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-controller="cais" asp-action="index">
                    <img class="d-block w-100" src="/aoligei.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a asp-controller="cais" asp-action="index">
                    <img class="d-block w-100" src="/xb.jpg" alt="Second slide">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <h1 class="display-4">Welcome</h1>
</div>
