@page "/counter"

<h1>Cai</h1>
@((MarkupString)Startup.html)

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    IFileListEntry file;
    string html = "";
    HttpClient client = new HttpClient();

    private async void IncrementCount()
    {
        Startup.html = await (await client.GetAsync(@"https://localhost:44349/cais/index")).Content.ReadAsStringAsync();
        StateHasChanged();
    }
}
