<div class="alert alert-secondary mt-4 col-12 col-lg-8 col-md-8" role="alert">
    <h2>
        <img width="50" height="50" src="/a.png"/>
        @*<span class="oi oi-pencil mr-2" aria-hidden="true"></span>*@
        <strong>@Title</strong>
    </h2>
    <h4>
        <span class="text-wrap">
            The c# in your browser<br />
            Web assembly tech using mono runtime.<br />
            Not only faster than javaScript, but also easier.
        </span>
    </h4>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
