<div class="alert alert-secondary mt-4 col-12 col-lg-8 col-md-8" role="alert">
    <h2>
        <svg height="50" width="50">
            <image width="50" height="50" xlink:href="https://camo.githubusercontent.com/4401ce87f065c2f3f02aa03b6a5c4d4e0c31d8d4/68747470733a2f2f61647269656e746f727269732e6769746875622e696f2f777777726f6f742f696d616765732f626c617a6f722f6c6f676f2d626c617a6f722e706e67"></image>
        </svg>
        @*<span class="oi oi-pencil mr-2" aria-hidden="true"></span>*@
        <strong>@Title</strong>
    </h2>
    <h4>
        <span class="text-wrap">
            The c# in your browser<br />
            Web assembly tech using mono runtime.<br />
            Not only faster than javaScript, but also easier.
        </span>
    </h4>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
