@model NiShuoNiMuaNe.Models.Cai

@{
    ViewData["Title"] = "Edit";
}
<div style="background-image:url(/1.jpg);background-size:cover;background-repeat:no-repeat;padding:20px"
>

<h1>修改数据</h1>

<h4>你能做的 岂止于此</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaoZhiQi" class="control-label"></label>
                <input asp-for="BaoZhiQi" class="form-control" />
                <span asp-validation-for="BaoZhiQi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller" class="control-label"></label>
                <input asp-for="Seller" class="form-control" />
                <span asp-validation-for="Seller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="提交" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
